<div class="container table-contain">
  <p style="color: #75B9BE"><%= notice %></p>

  <%= render @user %>

  <h1><%= @user.name %></h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">#</th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= @user.email %></td>
      </tr>
    </tbody>
  </table>

  
  <button class='btn btn-outline-danger'><%= link_to "Edit", edit_user_path(@user) %></button>
  <button class='btn btn-outline-danger'> <%= link_to 'Delete', user_path(@user), 
  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></button>
</div>
