
  <%= form_with(model: mistake) do |form| %>
    <% if mistake.errors.any? %>
      <div style="color: red">
        <ul>
          <% mistake.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-sm-4">
        <%= form.label "Type of Error:", class: "form-label"%>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= form.label "Severity of Error:", class: "form-label" %>
        <%= form.text_field :severity, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= form.label "Write a small description:", class: "form-label" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>
    </div>
    
    <div>
    <%= form.submit "Submit", class: "btn btn-outline-danger"%>
    <button class="btn btn-outline-danger"><%= link_to "Cancel", mistakes_path %></button>
    </div>
  <% end %>
